{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 9,
    "ecmaFeatures": {
      "spread": true
    }
  },
  "extends": ["airbnb-base/legacy", "prettier"],
  "plugins": ["import", "prettier"],
  "rules": {
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "trailing-comma": false,
    "import/prefer-default-export": "off",
    "no-console": 1
  }
}
